/* Wrapper Stuff */
.studentsupport {
	padding: 1.5rem 0.5rem;
	background-color: #FAFBFC;
}
.studentsupport *, .studentsupport *:before, .studentsupport *:after {
  box-sizing: border-box;
}
.studentsupport__content {
	margin-left: auto;
	margin-right: auto;
	max-width: 78.3125rem;
}
/* Page Text */
.ss-headline {
	font-family: "SourceSerifPro-Regular", TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	font-weight: 700;
	font-size: 32px;
	font-size: 2rem;
	color: #423500;
	text-align: center;
	margin-top: 0;
	margin-bottom: 1rem;
}
.ss-headline:not(:first-child) {
	margin-top: 3rem;
}
.ss-subheadline {
	font-family: "SourceSerifPro-Bold", TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.33;
	color: #423500;
	margin-top: 0;
	margin-bottom: 0.5rem;
}
.ss-introtext {
	font-family: "SourceSerifPro-Regular", TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	color: #423500;
	text-align: center;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.333333333;
	max-width: 54.5625rem;
	margin: 0 auto 3rem;
}
.ss-section-text {
	margin-top: 0;
	color: #423500;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.166666667;
	text-align: center;
}
/* Containers */
.ss-card-row {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	flex-flow: column wrap;
  justify-content: space-between;
	margin-bottom: 2.25rem;
}
.ss-card-column {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	flex-flow: column wrap;
  justify-content: space-between;
	flex: 0 1 auto;
	margin-right: 0;
}
.ss-top-resources-section, .ss-explore-topic-section, .ss-support-status-section {
	margin-top: 1.75rem;
}
.ss-card-support-categories {
	flex: 2 1 auto;
	margin-bottom: 0;
}
.ss-support-status__left {
	flex: 3 3 auto;
}
.ss-support-status__right {
	flex: 2 0 auto;
	margin-bottom: 0;
}
/* Basic Card */
.ss-card {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
	flex: 0 1 100%;
	padding: 1rem;
	margin-top: 0;
}
.ss-card__header {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 0px;
}
.ss-card__titles p {
	margin: 0px;
}
.ss-card__title, .ss-card__subtitle {
	margin-top: 0;
}
.ss-card__title {
	margin-bottom: 0px;
}
.ss-card__subtitle {
	color: #423500;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.166666667;
	text-transform: none;
}
.ss-card__icon {
	flex: 0 0 auto;
	margin-right: 1rem;
}
.ss-card p {
	font-family: "Gill Sans", "Helvetica Neue", Arial, sans-serif;
	line-height: 1.25rem;
	font-size: 0.95rem;
}
.ss-card__support-stats {
	list-style: none;
	padding: 0;
	margin: 0 0 1rem;
	color: #423500;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.1875;
}
.ss-card__support-stats li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem 0.75rem;
	background-color: #FEF6DF;
	border: 1px solid #EDE0CD;
	border-radius: 3px;
	margin-top: 20px;
}
.ss-card__support-stats li:first-child {
	margin-top: 30px;
}
.ss-card__linklist {
	list-style: none;
	padding: 0;
	margin: 0 0 1rem;
	color: #423500;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.1875;
}
.ss-card__linklist:last-child {
	margin-bottom: 0;
}
.ss-card__linklist li {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid #CBCBCB;
}
.ss-card__linklist li:last-child {
	border: 0;
}
.ss-card__linklist a {
	font-weight: 600;
	color: #D3A02A;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 0.25rem;
}
.ss-card__linklist a:hover, .ss-card__linklist a:focus {
	text-decoration: underline;
}
.ss-card__bottomlinks {
	list-style: none;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	/*margin-top: auto;*/
	margin-top: 0;
}
.ss-card__bottomlinks a {
	text-decoration: none;
	color: #D3A02A;
}
.ss-card__bottomlinks > * {
	margin-bottom: 1rem;
}
.ss-card__bottomlinks > *:last-child {
	text-decoration: underline;
	font-size: 14px;
	font-size: 0.875rem;
	margin-bottom: 0;
}
.ss-card__bottomlinks a:hover, .ss-card__bottomlinks a:focus {
	font-weight: bold;
}
.ss-card__bottomlinks__btn {
	font-size: 0.935rem;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #D3A02A;
	border-radius: 30px;
	padding: 0.5rem 1.5rem;
	transition: background-color .1s ease, color .1s ease;
}
.ss-card__bottomlinks__btn:hover, .ss-card__bottomlinks__btn:focus {
	color: #FFF;
	background-color: #D3A02A;
	text-decoration: none;
}
.ss-card__bottomlinks__btn:hover .ss-card__bottomlinks__btn__icon path,
.ss-card__bottomlinks__btn:focus .ss-card__bottomlinks__btn__icon path {
  stroke:#FFF;
}
.ss-card__bottomlinks a:hover, .ss-card__bottomlinks a:focus {
	text-decoration: none;
}
.ss-card__bottomlinks__btn__icon {
	margin-left: 1rem;
}
/* Explore Topic Card */
.ss-card--explore-topic {
	text-decoration: none;
	color: inherit;
	min-height: 0;
	flex: 1 1 auto;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 0px;
	line-height: 1.55rem;
}
/* Support Request cards */
.ss-card--support-requests {
	/*flex-direction: row;*/
	/*justify-content: space-between;*/
	align-items: center;
	justify-content: center;
}
.ss-card--support-request__header {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
.ss-card--support-request__icon {
	margin-bottom: 15px;
	align-self: center;
}
.ss-card--support-request__title {
	text-align: center;
}
.ss-card--support-request__text {
	text-align: center;
}
/* Support Category cards (underneath green/red status card) */
.ss-card--support-category {
	font-family: "SourceSerifPro-Regular", TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	align-items: center;
	justify-content: flex-start;
	margin-left: 0px;
	margin-bottom: 25px;
}
.ss-card--support-category__icon {
	margin-bottom: 15px;
	align-self: center;
}
.ss-card--support-category p {
	text-align: center;
}
.ss-card--support-category__title {
	font-family: "SourceSerifPro-Regular", TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	color: #453F3F;
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.3rem;
	float: left;
	margin: 0;
	text-align: center;
}
.ss-card--support-category__subtitle {
	font-family: "SourceSerifPro-Regular", TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	text-align: center;
}
.ss-card--support-category__subtitle--operational {
	color: #228F23;
}
.ss-card--support-category__subtitle--warning {
	color: #C65C5C;
}
/* Green/Red Status Card */
.ss-card--status {
	color: white;
	font-family: "SourceSerifPro-Regular", TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
	min-height: 0;
	flex: 0 1 auto;
	padding: 0.75rem;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
}
.ss-card--status .ss-card__header {
  align-items:center;
}
.ss-card--status--operational {
	background-color: #8BC58A;
}
.ss-card--status__title {
	margin: 0px;
}
.ss-card--status--warning {
	background-color: #C65C5C;
}
/* Media Queries */
@media only screen and (min-width: 700px) {
	.ss-card {
		flex: 0 1 31%;
		padding: 1.25rem 2rem;
	}
	.ss-explore-topic-section {
		flex-direction: row;
	}
	.ss-card--status {
		padding: 0.75rem;
	}
	.ss-card--explore-topic {
		padding: 1.875rem 2rem;
		margin-left: 20px;
		flex: 1 1 45%;
	}
	.ss-card--explore-topic:nth-child(odd) {
		margin-left: 0;
	}
	.ss-card-support-categories {
		margin-bottom: 25px;
		flex-wrap: nowrap;
		flex-direction: row;
	}
	.ss-card--support-category {
		margin-left: 30px;
		margin-bottom: 0px;
	}
	.ss-card--support-category:first-child {
		margin-left: 0;
	}
}
@media only screen and (min-width: 768px) {
	.studentsupport {
		padding: 4rem 1rem;
	}
	.status-icon {
		margin: 0 0 1rem;
	}
	.ss-headline {
		text-align: left;
		font-size: 40px;
		font-size: 2.5rem;
	}
	.ss-section-text {
		text-align: left;
	}
	.ss-subheadline {
		font-size: 32px;
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	.ss-introtext {
		font-size: 20px;
		font-size: 1.25rem;
	}
}
@media screen and (min-width: 840px){
	.ss-top-resources-section {
		flex-direction: row;
	}
}
@media screen and (min-width: 1000px) {
	.ss-card--explore-topic {
		flex: 1 1 20%;
	}
	.ss-card--explore-topic:nth-child(odd) {
		margin-left: 20px;
	}
	.ss-card--explore-topic:first-child {
		margin-left: 0;
	}
	.ss-card--status {
		flex: 0 0 auto;
	}
	.ss-card-row {
		flex-wrap: nowrap;
		margin-bottom: 1rem;
	}
	.ss-card-column {
		margin-right: 3.125rem;
	}
	.ss-card-support-categories {
		margin-bottom: 0px;
	}
	.ss-support-status-section {
		flex-direction: row;
	}
}
@media screen and (min-width: 1200px){
	.ss-card--support-category {
		min-height: 0;
	}
}
